.card-grid {
  min-height: 200px;
}

.card-grid-item {
  display: flex;
}


.card-grid-item > .vehicle-card-link {
  display: flex;
  flex: 1;
}

.card-grid-item > .vehicle-card-link .vehicle-card {
  flex: 1;
}
