.loading-screen {
  position: fixed;
  inset: 0;                 /* top:0, right:0, bottom:0, left:0 */
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0a1d37 0%, #0f2f5a 40%, #1d4e89 100%);
  z-index: 9999;

  opacity: 1;
  transition: opacity 0.5s ease; /* para el fadeOut */
}

.loading-screen--hide {
  opacity: 0;
}

.loading-screen-logo {
  width: 350px;          /* ajusta el tamaño que quieras */
  height: auto;
  margin-bottom: 1rem;
  display: block;
}

.loading-screen-text {
  color: #e2e8f0;
  text-align: center;
  margin-top: 1rem;
}
