.visitus-section {
  margin-bottom: 3rem;
}

.visit-us-map-placeholder {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
